# See https:
v.d.ts
-ennfo
nextsbuildi
*.tpescript
# tyel

.vercercel v
#
local
.enves
.env.local

# -error.log*g.log*
yarn-debuyarng*
ug.lonpm-deb

# debug

*.pemDS_Store

# misc
.on
/buildductiro

# p
/out/.next/t.js
/nex

# overage/c
# testing
-state.gz
arn/install.js
.y.pnp
.pnples
//node_moduencies

# depend

# next
.next

# node modules
node_modules
