@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-papyrus-bg text-papyrus-text font-body bg-papyrus-texture;
    background-size: 400px 400px;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
